<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" 
	  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	  throwExceptions="false"
	  autoReload="false"
>

	<extensions>
		<add assembly="NLog.Elmah"/>
	</extensions>
	
	<!-- make sure to set 'Copy To Output Directory' optison for this file -->
	<!-- go to http://nlog-project.org/wiki/Configuration_file for more information -->

	<targets async="true">
		<target name="elmah"
				xsi:type="Elmah"	
				layout="${longdate} ${uppercase:${level}} ${message} ${exception:format=Message,Type}" />
	
		<target name="file"
				xsi:type="File"
				encoding="UTF-8"
				fileName="${basedir}/App_Data/log/${level}.txt"
				archiveFileName="${basedir}/App_Data/log/${level}.{#}.txt"
				archiveNumbering="Rolling"
				archiveEvery="Day"
				maxArchiveFiles="7"						
				layout="${longdate}|${level:uppercase=true}|${message}|${onexception:inner=${exception:format=Message,Type}}"	/>
	
		<target name="console" xsi:type="Console" />
	</targets>

	<!-- Trace > Debug > Info > Warn > Error > Fatal -->
	<rules>	
		<logger name="*" minlevel="Debug" writeTo="file" />
		<logger name="*" minlevel="Debug" writeTo="console" />

		<logger name="*" minlevel="Error" writeTo="elmah" />
	</rules>
</nlog>
