<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE menus [
	<!ELEMENT menus (menu*)>
	<!ELEMENT menu (sub*)>
	<!ATTLIST menu name CDATA #IMPLIED>
	<!ATTLIST menu url CDATA #IMPLIED>
	<!ATTLIST menu act CDATA #IMPLIED>
	<!ATTLIST menu icon CDATA #IMPLIED>
	<!ATTLIST menu pattern CDATA #IMPLIED>
	<!ATTLIST menu target (_blank|dialog) #IMPLIED>
	<!ATTLIST menu useFirstSubUrl (true|false) #IMPLIED>
	<!ELEMENT sub EMPTY>
	<!ATTLIST sub name CDATA #IMPLIED>
	<!ATTLIST sub url CDATA #REQUIRED>
	<!ATTLIST sub act CDATA #IMPLIED>
	<!ATTLIST sub icon CDATA #IMPLIED>
	<!ATTLIST sub pattern CDATA #IMPLIED>
	<!ATTLIST sub target (_blank|dialog) #IMPLIED>
]>

<menus>
	<!--
		<menu name="首頁" url="~/Home" act="UserView" target="_blank" icon="fa-certificate" useFirstSubUrl="true" /> 
		<sub name="使用者" url="~/User" act="UserView" target="_blank" icon="fa-certificate" />
	-->
</menus>
