@model TestRunWebApp.Models.TestParamsViewModel

@{
	ViewBag.Title = "BsBoolRadioList";

}

@using (Html.BeginForm())
{
	@Html.BsBoolRadioListFor(x => x.IsEnable, "TT", "FF", new { @class = "radio-inline" })
	<button type="submit">Save</button>
}



